<section class="tela col-md-12 mt-5">
  <form class="formulario container col-md-6 p-3" (ngSubmit)="calcular()">
    <h2 class="text-center">Descubra seu Índice de Massa Corporal</h2>
    <div class="box">
      <div class="d-flex justify-content-center">
        <label for="nome"></label>
        <input id="nome" name="nome" [(ngModel)]="nome" type="text" placeholder="Digite seu nome">
      </div>
      <div class="d-flex justify-content-center mt-2">
        <label for="idade"></label>
        <input id="idade" name="idade" [(ngModel)]="idade" type="text" placeholder="Digite sua idade">
      </div>
      <div class="d-flex justify-content-center mt-2">
        <label for="peso"></label>
        <input id="peso" name="peso" [(ngModel)]="peso" type="text" placeholder="Digite seu peso">
      </div>
      <div class="d-flex justify-content-center mt-2">
        <label for="altura"></label>
        <input id="altura" name="altura" [(ngModel)]="altura" type="text" placeholder="Digite sua altura sem vírgula">
      </div>
      <button class="button" type="submit">Calcular</button>
    </div>
  </form>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
      data-bs-whatever="@mdo">Tabela de classificações</button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="mdl modal-dialog d-flex justify-content-center mt-8">
      <table  class="bg-white">
        <thead class="modal-title fs-5 mt-2" id="exampleModalLabel">
          <th>Classificação</th>
          <th>IMC</th>
        </thead>
        <tbody class="text-center">
          <tr id="abaixo">
            <td>Abaixo do peso</td>
            <td>Menor do que 18.5</td>
          </tr>
          <tr id="ideal">
            <td>Peso ideal</td>
            <td>Entre 18.5 e 24.9 </td>
          </tr>
          <tr id="sobre">
            <td>Sobrepeso</td>
            <td>Entre 25.0 e 29.9</td>
          </tr>
          <tr id="leve">
            <td>Obesidade leve</td>
            <td>Entre 30.0 e 34.9</td>
          </tr>
          <tr id="medio">
            <td>Obesidade grau II</td>
            <td>Entre 35.0 e 39.9</td>
          </tr>
          <tr id="grave">
            <td>Obesidade grau III</td>
            <td>Acima de 40.0</td>
          </tr>
          <tr id="bott">
          </tr>
        </tbody>
      </table>
    </div>
    <p class="clique">Clique na tabela para fechá-la!</p>
  </div>
</section>
